apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres-stset
  namespace: exercises
spec:
  serviceName: postgres-svc
  replicas: 1
  selector:
    matchLabels:
      app: postgresapp
  template:
    metadata:
      labels:
        app: postgresapp
    spec:
      containers:
      - name: postgres-db
        image: postgres:16
        ports:
          - name: web
            containerPort: 5432
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
          subPath: postgres
        envFrom:
        - configMapRef:
            name: postgres-config
  volumeClaimTemplates:
  - metadata:
      name: postgres-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: standard
      resources:
        requests:
          storage: 100Mi
  
---
apiVersion: v1
kind: Service
metadata: 
  name: postgres-svc
  namespace: exercises
  labels:
    app: postgresapp  
spec:
  ports:
    - port: 5432
      name: web
  clusterIP: None
  selector:
    app: postgresapp
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: exercises
  labels:
    app: postgresapp
data:
  POSTGRES_PASSWORD: devpass123
  POSTGRES_USER: devuser
  POSTGRES_DB: logdatabase
  PGHOST: postgres-svc.exercises.svc.cluster.local
  PGPORT: "5432"