apiVersion: v1
kind: Service
metadata:
  name: pingpong-lb-svc
  namespace: exercises
spec:
  type: LoadBalancer
  selector:
    app: pingpong
  ports:
  - port: 80
    protocol: TCP
    targetPort: 8070