name: Delete environment

on:
  delete:
    branches:
      - '**'

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b

jobs:
  delete-environment:
    name: Delete Environment
    runs-on: ubuntu-latest
    environment: kube-mooc
    if: github.event.ref_type == 'branch'

    steps:
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      - name: 'Set up Cloud SDK'
        uses: google-github-actions/setup-gcloud@v2

      - name: 'Get GKE credentials'
        uses: 'google-github-actions/get-gke-credentials@v2'
        with:
          cluster_name: '${{ env.GKE_CLUSTER }}'
          project_id: '${{ env.PROJECT_ID }}'
          location: '${{ env.GKE_ZONE }}'
      
      - name: 'Delete namespace'
        run: |
          BRANCH_NAME="${{ github.event.ref }}"
          
          # Don't delete the main project namespace
          if [ "$BRANCH_NAME" = "main" ]; then
            echo "Oops almost deleted main!"
            exit 0
          fi
          
          NAMESPACE="$BRANCH_NAME"
          echo "Deleting namespace: $NAMESPACE"
          
          if kubectl get namespace "$NAMESPACE" >/dev/null 2>&1; then
            kubectl delete namespace "$NAMESPACE"
            echo "Namespace $NAMESPACE deleted"
          else
            echo "Namespace $NAMESPACE does not exist"
          fi
